:root {
    --var-green: #46e2ac;
    --var-purple: #ce95e5;
    --var-blue: #52ccea;
    --var-yellow: #e2f26a;
}

.postIt {
    box-shadow: 5px 5px 15px rgb(61, 61, 61);
}

body {
    width: 90%;
    margin: auto;
}

#stockage {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.green, .blue, .purple, .yellow {
    width: 100px;
    height: 100px;
}

.green {
    background-color: var(--var-green);
}
.blue {
    background-color: var(--var-blue);
}
.purple {
    background-color: var(--var-purple);
}
.yellow {
    background-color: var(--var-yellow);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    border: sienna 2px solid;
    background-color: rosybrown;
    padding: 30px;
}

h1 {
padding: 30px;
}

#contain {
    border: royalblue 1px solid;
    height: 90vh;
}

.bottomMenu {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.fas, .far {
    margin: 10px;
}

.bottomMenu {
    background-color: seagreen;
}